<% if county.size < 1  %>
No Results.
<% else %>

<table class="table table-striped table-bordered">

<% if flag == true %>
    <tr scope="row"> 
        <td>Zip</td>
        <td>County Name</td>
        <td>City</td>
        <td>State</td>
    </tr>
    <% county.each do |c| %>
    <tr scope="row">
        <td><%= c[0] %></td>
        <td><%= c[1] %></td>
        <td><%= c[2] %></td>
        <td><%= c[3] %></td>
    </tr>
    <% end %>
<% else %>
    <tr scope="row"> 
        <td>Total No. of Counties</td>
        <td>Total No. of Cities</td>
        <td>Total Zip codes</td>
    </tr>
<% county.each do |c| %>

    <tr scope="row">
        <td><%= c[0] %></td>
        <td><%= c[1] %></td>
        <td><%= c[2] %></td>
    </tr>
    <% end %>
<% end %>
</table>
<% end %>