 <tr scope="row">
      <td><%= upload.filename %></td>
      <td><% if upload.processed %> Uploaded  <%= link_to 'Download File', download_path(:id => upload.id) %><% else %> Not Uploaded <% end %></td>
      <td><% if(!upload.user.username) %>
        <%= upload.user.email %>
        <% else %>
        <%= upload.user.username %>
        <% end %>
        </td>
      <td><% if(upload.status == 0) %>Not completed <% elsif(upload.status == 1) %> Completed <% else %> In progress <% end %></td>
      <td><%= time_ago_in_words(upload.created_at) %> </td>

</tr>