<% if @uploads %>
<table class="table" border = "1">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">AWS Link</th>
      <th scope="col">Added by</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
<% @uploads.each do |upload| %>
	<tr>
      <td><%= upload.id %></td>
      <td><%= link_to upload.filename, upload.url %></td>
      <td><%= upload.user.username %></td>
      <td><%= upload.status %></td>
      <td><% if upload.processed %> Uploaded  <%= link_to 'Download File', download_path(:id => upload.id) %><% else %> Not Uploaded <% end %></td>
    </tr>
<% end %>
</tbody></table>
<% else %>
<div> No Uploads yet </div>
<% end %>
