<!DOCTYPE html>
<html>
  <head>
    <title>Fileuploadchallenge</title>
     <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBKflsCnNu-XQRUJ0Gj2JhChCNnGhKdT2E"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <div class="container">
      <%= render 'shared/navbar' %>
  	<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<p class="navbar-text pull-right">

</p>
<%= csrf_meta_tag %> 
    <%= yield %>
  </div>
  </body>
</html>
